/* Fix text blocks not aligning */
.choice {
  display: inline-block;
  width: 250px;
  text-align: center;
  vertical-align: top;
  padding: 20px 0;
}

/* Force labels to stay centered, even on 2-line text */
.choice .label {
  font-size: 38px;
  line-height: 42px;
  font-weight: bold;
  margin-bottom: 15px;
  white-space: normal;
  word-break: break-word;
}

/* Percentage + vote count text */
.choice .stat {
  font-size: 32px;
  margin-top: 10px;
  white-space: nowrap;
}

/* Divider between Fun Day and Early Home */
.divider {
  display: inline-block;
  width: 1px;
  background-color: #bbb;
  height: 180px;
  margin: 0 40px;
  vertical-align: middle;
}

/* Align blue + green background bars properly */
#background-stats {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#background-stats-1 {
  background-color: #1E90FF;  /* Blue */
  height: 100%;
  float: left;
}

#background-stats-2 {
  background-color: #00D4C6;  /* Green */
  height: 100%;
  float: left;
}

/* Center content layout cleanly */
#content-container-center {
  margin-top: 60px;
  text-align: center;
}

/* Fix total votes text */
#result {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
}
